# OpenAI API Configuration
OPENAI_API_KEY=your_api_key_here

# Server Configuration
PORT=3000
API_PREFIX=/api
NODE_ENV=development

# Vector Retrieval Configuration
DEFAULT_FILE_PATH=/Users/roger/Documents/my_projects/open_ai_vector_retrieval_rest_api/test_data.json
